# What you need to change in your program:
# Print the column number of your AI's move together with a newline to file descriptor 42 as soon as your program knows it.
# Please adjust the column number to be 0-indexed (just for the printout).
# Only your AI's move should get printed to that file descriptor, not the player's.
# Something like this:
#	#include <stdio.h>
#	if (player == AI) {
#		dprintf(42, "%d\n", column_zero_indexed);
#	}


# Inputs for prompts before start of the game (difficulty selection, etc.)
# Seperate multiple inputs with "\n"
# Leave empty if you have no prompts before start of the game
START_PROMPTS=""

# The index you use for the left-most column when receiving input (0-indexed, 1-indexed, etc.)
# In other words, what is the lowest column number the player can type in
FIRST_COL_INDEX=

# A return value for rand() that causes the AI to make the first turn
RAND_AI_FIRST=

# A return value for rand() that causes the PLAYER to make the first turn
RAND_PLAYER_FIRST=
